*.aux
*.log
*.o
*.hi
*.pdf
*.bbl
*~
*.blg
/report/auto
src/uvm
src/twodee
src/ocultcc

/applicative-functors/auto/slides.el
/applicative-functors/slides.out
/applicative-functors/slides.toc
/applicative-functors/slides.vrb
/applicative-functors/slides.snm
/applicative-functors/slides.nav
